/*
  This mixin is based on the Codepen available here:

  http://codepen.io/ksundmyhr/pen/raBRJM
*/


@mixin progress_circle($percentage, $color, $bar-color: #ddd, $bar-width: 4px, $element-size: 70px) {
	position: relative;
	width: $element-size;
	height: $element-size;
	border-radius: 50%;
	background-color: $bar-color;

	$degree: 360deg * ($percentage / 100%);
	@if $percentage < 50% {
		$nextdeg: 90deg + $degree;
		background-image: linear-gradient(90deg, $bar-color 50%, transparent 50%, transparent),
		linear-gradient($nextdeg, $color 50%, $bar-color 50%, $bar-color);
	} @else {
		background-image: linear-gradient($degree - 270deg, $color 50%, transparent 50%, transparent),
		linear-gradient(90deg, $bar-color 50%, $color 50%, $color);
	}

	&::after {
		content: "";
		width: $element-size - ($bar-width * 2);
		height: $element-size - ($bar-width * 2);
		background-color: #FFF;
		border-radius: 50%;
		display: block;
		position: relative;
		top: $bar-width;
		left: $bar-width;
	}
}

