---
# Showcase website styles for Hank Brekke
---
/*
 * main.scss
 */

@charset "utf-8";

@import "reset";
@import "variables";
@import "font";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--color-text);
  background-color: var(--color-page-bg);
}

.respond {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: calc(1rem + env(safe-area-inset-left));
  padding-right: calc(1rem + env(safe-area-inset-right));
}

.respond-narrow {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1rem + env(safe-area-inset-left));
  padding-right: calc(1rem + env(safe-area-inset-right));
}

@import "site-introduction";
@import "header";
@import "social";
@import "article";
@import "code";
@import "skills";
@import "experience";
@import "footer";

@import "projects";
@import "project-childcare";
