---
layout: takeover
title: Projects
permalink: /projects/
weight: 2
redirect_from:
  - /jotts/
  - /childcare/
  - /shareshot/
summary: "Many projects I've built make life easier through student organization
and childcare center management software. I've also led several skill-based
volunteer projects for local non-profits and small businesses, and built public
and in-house apps to solve big problems." 
---

{% include projects/jotts.html %}
{% include projects/expressive.html %}
{% include projects/childcare.html %}
{% include projects/shareshot.html %}
