<div class="project" id="childcare">
	<div class="respond project-title">
		<h2>Childcare Management Software</h2>
	</div>
    <div class="respond">
        <div class="project-features-wide">
            <div class="project-feature">
                <h4>Time &amp; Attendance Software</h4>
                <p>Your parents can easily check their children in and out as they come and go, using any computer you set up, or multiple computers. You can even charge families a drop-in fee for children not on that day’s schedule.</p>
            </div>
            <div class="project-feature">
                <h4>Online Parent Accounts</h4>
                <p>Give your parents the ability to sign into your website in the comfort of their own home to view their bill, their child’s attendance history, advanced reports, tax information and other news you have to offer.</p>
            </div>
            <div class="project-feature">
                <h4>Parent Billing &amp; Invoicing</h4>
                <p>Automatically bill parents for their children’s tuition each week and easily add payments and print receipts when they pay their statement. You’ll have the freedom to bill parents however you want.</p>
            </div>
            <div class="project-feature">
                <h4>Accept Debit &amp; Credit Cards</h4>
                <p>Using <a href="https://stripe.com/">Stripe</a>, you can securely accept debit and credit cards on your website and bill parents automatically for only <code>2.9%+30¢</code>. You can even charge parents the processing fees rather than your business.</p>
            </div>
            <div class="project-feature">
                <h4>Employee Management</h4>
                <p>You can also add your employees to track their hours, export weekly timesheets and let your staff check themselves in as they come and go. Important data like SSN’s are triple-encrypted at a minimum.</p>
            </div>
            <div class="project-feature">
                <h4>Print Statements &amp; Reports</h4>
                <p>You can generate and print parent statements for any month, any time you’d like. You also can print custom reports about your center for financial rebates, taxes and other important data that keeps your business alive.</p>
            </div>
            <div class="project-feature">
                <h4>Smart Dashboard Data</h4>
                <p>Your dashboard makes finding the things you’re looking for easier than ever. Add widgets like total Accounts Receivable, unpaid accounts and more for the data need most. You can make your dashboard yours.</p>
            </div>
            <div class="project-feature">
                <h4>Hosted &amp; Managed Server</h4>
                <p>The server is cloud hosted and managed, so you’ll never need to worry about losing your parents if a computer dies. Important data is encrypted several times over, far beyond basic complience standards.</p>
            </div>
        </div>
    </div>
    <div class="project-footer">
        <a href="mailto:brekkehj@hnryjms.io">Contact for more info</a>
    </div>
</div>
