<div class="project" id="expressive">
	<div class="respond project-title">
		<h2><a href="https://github.com/hnryjms/Expressive" target="_blank">Expressive</a></h2>
	</div>
    <div class="respond">
        <p>Expressive is a new kind of web CMS, built with Node.js and Express. It’s an ultra-clean and modern, simple and extendable publishing app for blogs, websites, portfolios and many other kinds of digital content. It bundles common open source packages, and makes it easy for developers to build comprehensive extensions and themes for your site.</p>
    </div>
    <div class="project-footer">
        <a href="https://github.com/hnryjms/Expressive" target="_blank">Expressive is on GitHub</a>
    </div>
</div>
