<div class="project" id="shareshot">
	<div class="respond project-title">
		<h2><a href="https://itunes.apple.com/us/app/shareshot/id492092458?mt=8" target="_blank">ShareShot</a></h2>
	</div>
    <div class="respond">
        <p>Transfer your photos from your phone to your computer wirelessly, without messing with bulky photo editing programs, cloud syncing or annoying software to download. ShareShot instantly transfers your photos from your phone to your computer through your internet browser—no extra downloads needed.</p>
    </div>
    <div class="project-footer">
        <a href="https://itunes.apple.com/us/app/shareshot/id492092458?mt=8" target="_blank">Download ShareShot on the App Store</a>
    </div>
</div>
