<div class="experience">
	<div class="experience-item" id="residentialscience">
		<h3><a href="http://www.residentialscience.com/" target="_blank">Residential Science Resources</a></h3>
		<h4>Lead Developer</h4>
	</div>
	<div class="experience-item" id="code42">
		<h3><a href="https://www.code42.com/" target="_blank">Code42 Software</a></h3>
		<h4>Software Developer</h4>
		<p>Collaborated between multiple teams to build, automate, test and deploy enterprise backup software. Primary focus was on software stablility and moving towards MVVM &amp; Reactive programming.</p>
	</div>
	<div class="experience-item" id="bitcrew">
		<h3>BitCrew</h3>
		<h4>Assistant Developer</h4>
		<p>Used and explored technologies like Xamarin, Angular and Knockout to build a varitety of contract projects for small and medium-sized businesses.</p>
	</div>
	<div class="experience-item" id="tempworks">
		<h3><a href="#" target="_blank">TempWorks Software</a></h3>
		<h4>Intern</h4>
		<p>Built internal tools and websites, as well as native mobile apps for business and staffing agency billing and payroll management.</p>
	</div>
</div>
