<div class="experience">
	<div class="experience-item" id="accenture">
		<div class="experience-title">
			<h3><a href="https://www.accenture.com/us-en" target="_blank">Accenture</a></h3>
			<h4>Technology Architecture Delivery Specialist</h4>
		</div>
	</div>
	<div class="experience-item" id="houserater">
		<div class="experience-title">
			<h3><a href="https://houserater.com/" target="_blank"><abbr title="Residential Science Resources">RSR</abbr> / HouseRater</a></h3>
			<h4>Lead Developer &amp; UX Designer</h4>
		</div>
		<p>Overseeing design, development and deployment of web and mobile apps using Sketch, Node.js (Docker on AWS) and React Native to help building science consultants provide more resources.</p>
	</div>
	<div class="experience-item" id="code42">
		<div class="experience-title">
			<h3><a href="https://www.code42.com/" target="_blank">Code42 Software</a></h3>
			<h4>Software Developer</h4>
		</div>
		<p>Collaborated between multiple teams to build, automate, test and deploy enterprise backup software. Primary focus was on software stability and moving towards MVVM &amp; Reactive programming.</p>
	</div>
	<div class="experience-item" id="bitcrew">
		<div class="experience-title">
			<h3>BitCrew</h3>
			<h4>Assistant Developer</h4>
		</div>
		<p>Used and explored technologies like Xamarin, Angular and Knockout to build a varitety of contract projects for small and medium-sized businesses.</p>
	</div>
	<div class="experience-item" id="tempworks">
		<div class="experience-title">
			<h3><a href="https://www.tempworks.com/" target="_blank">TempWorks Software</a></h3>
			<h4>Intern</h4>
		</div>
		<p>Built internal tools and websites, as well as native mobile apps for business and staffing agency billing and payroll management.</p>
	</div>
</div>
