<div class="skills">
	<div class="skill" id="js">
		<div class="progress"></div>
		<h4>Javascript</h4>
	</div>
	<div class="skill" id="html">
		<div class="progress"></div>
		<h4>HTML/CSS</h4>
	</div>
	<div class="skill" id="react">
		<div class="progress"></div>
		<h4>React+NG</h4>
	</div>
	<div class="skill" id="sketch">
		<div class="progress"></div>
		<h4>Sketch</h4>
	</div>
	<div class="skill" id="ios">
		<div class="progress"></div>
		<h4>Native iOS</h4>
	</div>
	<div class="skill" id="ruby">
		<div class="progress"></div>
		<h4>Ruby</h4>
	</div>
</div>
