<div class="skills">
	<div class="skill" id="js">
		<div class="progress"></div>
		<h4>Javascript</h4>
	</div>
	<div class="skill" id="html">
		<div class="progress"></div>
		<h4>HTML/CSS</h4>
	</div>
	<div class="skill" id="objc">
		<div class="progress"></div>
		<h4>Objective-C</h4>
	</div>
	<div class="skill" id="swift">
		<div class="progress"></div>
		<h4>Swift</h4>
	</div>
	<div class="skill" id="python">
		<div class="progress"></div>
		<h4>Python</h4>
	</div>
	<div class="skill" id="java">
		<div class="progress"></div>
		<h4>Java</h4>
	</div>
</div>
