<!DOCTYPE html>
<html>
{% include head.html %}
<body>

	<div class="site-introduction">
		<h1>Hank Brekke</h1>
		<p class="lead">Developing a Smarter World</p>
		<ul class="social">
			<li class="linkedin"><a href="https://www.linkedin.com/in/hankb" target="_blank"><span>LinkedIn</span></a></li>
			<li class="github"><a href="https://github.com/hnryjms" target="_blank"><span>GitHub</span></a></li>
			<li class="twitter"><a href="https://twitter.com/hnryjms" target="_blank"><span>Twitter</span></a></li>
			<li class="email"><a href="mailto:brekkehj@z43studio.com"><span>Email</span></a></li>
		</ul>
	</div>

	<header class="site-header primary">
		<div class="respond">
			
			{% include navigation.html %}

		</div>
	</header>

	{{ content }}

	{% include footer.html %}
</body>
</html>
